<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@skill, @milestone] do |f| %>
        <%= f.input :goal, label:"What is your goal?" %>
        <%= f.button :submit, label:"Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>