<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for [@study_session, @comment] do |f| %>
        <%= f.input :description, label:"Enter Comment" %>
        <%= f.button :submit, label:"Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>