// Import page-specific CSS files here.
@import "home";
body {
  background-color: #E5E4E2;
  color: black;
  
}
.landing {
  background-image: url(image_path(landingbackground));
  background-size: contain;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}
.logo {
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: -32px;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-stroke: 3px black;
  text-shadow: -11px 7px 6px rgba(16,16,16,0.71);
  font-size: 100px;
  color: white;

}

.myButton:hover {
	background-color:#71a5f3;
}
.myButton:active {
	position:relative;
	top:1px;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 656px;
  width: auto;
  
}
a {
  color: black;
}
.main {
  text-align: center;
}

.subtitle {
  margin-right: 40rem;
}

