.study-form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.finish-button {
  text-align: center;
  margin: 30px;
}

.card-style {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  padding: 10px;
}


.timer-card {
  margin: 10px;
}

.submit-form {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#flex-body {
  display: flex;
  flex-direction: row;
  height: 36rem;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

#study_session_goal {
  height: 333px;
}

.start {
  margin-top: 20px;
}

.study-submit {
  align-items: initial;
}

#card-submit {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  padding: 24px;
}

.timer-card {
  justify-content: space-evenly;
}