.profile-name {
  height: 200px;
  width: auto;
  text-align: center;
  color: white;

}

h1 {
  font-size: 48px;
  text-align: center;
}

.container-profile {
  margin: 48px;
  padding: 0px;
  height: 400px;
  width: auto;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.summary {
  text-align: left;
}