.profile-name {
  height: 200px;
  width: auto;
  text-align: center;
  color: white;

}

h1 {
  margin: 24px;
  font-size: 48px;
  text-align: center;
}

.container-profile {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  /*customizable*/
  // height: 300px;

  
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
}

.study-button {
  display: flex;
  justify-content: center;
}

.skill-bar {
  margin-top: 48px;
}