.profile-name {
  height: 200px;
  width: auto;
  text-align: center;
  //Changed text in USER SUMMARY box to black
  color: black;
  h2 {
    font-size: 40px;
    margin-top: 24px;
  }
}

h1 {
  margin: 24px;
  font-size: 48px;
  text-align: center;
}

.skills-card-title {
  display: flex;
  justify-content: space-between;
}


.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
}

.container-right{
  display: flex;
  justify-content: center;
}

.study-button {
  display: flex;
  justify-content: center;
}

.skill-bar {
  margin-top: 48px;
}

a {
  color: black;
}

#add_skill_button {
  display: flex;
  justify-content: center;
  margin: 16px auto;
  width: 200px;
  padding: 16px;

  span {
  font-size: 16px;
  }
}

.badges_card {
  width: 38%;
}

.pic-container {
  display: flex;
  justify-content: center;
  height: 360px;
  width: 325px;
}
.img-content {
  max-width: 100%;
  max-height: 100%;

}

.carousel {
  display: flex;
  justify-content: center;
}

#wrapper {
  height: 600px;
  width: 500px;
  border-radius: 10px;
}

.container-show {
  display: grid;
  justify-content: center;
}
