// Import page-specific CSS files here.

// containering and divs
.container.skill_show{
  height: auto;
  text-align: center;
  margin-top: 16px;

}

.card-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 24px;
}

.summary-advice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    width: 250px;
    margin: 16px 0;
  }

  .summary {
    margin: 0 16px;
  }

  .advice {
    margin: 0 16px;
  }
}

.milestones {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
  a {
    margin: 10px;
  }
  div {
    margin: 10px;
  }
}

ul {
  list-style-type: none;
}

// button CSS

#skill_show {
  display: flex;
  justify-content: center;
  margin: 16px;
  width: auto;
  padding: 16px;

  span {
  font-size: 16px;
  }
}

.done {
  box-shadow: 0px 4px 4px 0px #000000;
  background-color: #4A74B1;
  box-sizing: border-box;
  color: #fff;
  display: inline;
  width: auto;
}

.complete {
  color: #4A74B1;
}
