// Import page-specific CSS files here.

// containering and divs
.container {
  height: auto;
  text-align: center;
  margin-top: 16px;
}

hr {
  background-image: linear-gradient(to right, #4700D4 0%, #DD5FDA 100%);
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 3px;
  width: 100%;
  margin: 20px 0;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.summary-advice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    width: 250px;
    margin: 16px 0;
  }
}

.milestones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  a {
    margin: 10px;
  }
  div {
    margin: 10px;
  }
}

ul {
  list-style-type: none;
}

.done {
  color: green;
  // background: linear-gradient(to right, #4700D4 0%, #DD5FDA 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

// button CSS

#skill_show {
  display: flex;
  justify-content: center;
  margin: 16px;
  width: auto;
  padding: 16px;

  span {
  font-size: 16px;
  }
}

.done {
  box-shadow: 0px 4px 4px 0px #000000;
  background-color: #5E17EB;
  box-sizing: border-box;
  color: #fff;
  display: inline;
  width: auto;
}

.complete {
  color: green;
}
