* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#background-video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99;
}

body {
  // background-color: #E9EBEE;
  line-height: 1.34;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
header {
  padding: 0;
  position: relative;
}
.status {
  margin: 11px 0;
  color: black;
}
#wrapper {
  align-self: start;
  height: auto;
  width: 500px;
  background-color: #fff;
  margin-bottom: 16px;
  border: 1px solid #D0D1D5;
  border-top: 0;
  padding: 12px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 32px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.arrow {
  position: absolute;
  width: 12px;
  border: none;
  height: auto;
  right: 0px;
}

.profile-pic {
  width: 40px;
  height: auto;
  float: left;
  margin-right: 8px;
}

.name,
.date {
  margin: 0;
}

.name {
  color: #385A97;
  font-size: 15px;
  margin-bottom: 5px;
}

.date {
  font-family: "Arial";
  font-size: 12px;
  color: #90949C;
}

main {
  font-size: 13px;
}

main .status {
  margin-bottom: 11px;
}

.img-content {
  width: 100%;
  margin-bottom: 11px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.action a {
  color: #7F7F7F;
}

.action div {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.action div:nth-child(n + 2) {
  margin-left: 20px;
}

.like img,
.comment img,
.share img {
  display: inline-block;
  width: 18px;
  vertical-align: text-bottom;
}

.like p {
  // color: #1787FA;
}

.like p,
.comment p,
.share p {
  display: inline-block;
}

.share img {
  opacity: .2;
}

.cf:before,
.cf:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.container-flex {
  display: flex;
  justify-content: center;
}

#comment-container {
  height: auto;
  width: fit-content;
}

h1 {
  -webkit-text-stroke: 2px black;
  text-shadow: -4px 4px 1px rgba(16, 16, 16, 0.15);
}