<div id="wrapper">

    <header class="cf">
      <!-- <img src="http://2016.igem.org/wiki/images/e/e0/Uclascrolldown.png" class="arrow" /> -->
      <a href=#><img class='profile-pic' src=""></a>
      <h1 class="name">
                    <a href="#">Dog</a>
                </h1>
      <p class="date">30 minutes ago</p>
    </header>

    <p class="status">I pressed keys and sounds came out!</p>
    <img class="img-content" src="https://3milliondogs.com/blog-assets-two/2015/07/dogsplayingpiano.jpg" />

    <div class="action">
      <div class="like">
        <a href="#">
          <img src="https://1.bp.blogspot.com/-qns_lZPjg0I/VWY2dO1HN-I/AAAAAAAACVA/akLTMY7RJSk/s1600/Thumbs-up-facebook-icon-small.png" alt="thumbs up" />
          <p>Like</p>
        </a>
      </div>

      <div class="comment">
        <a href="#">
          <img src="https://s0.wp.com/wp-content/themes/vip/facebook-groups/img/message_icon.png" />
          <p>Comment</p>
        </a>
      </div>

      <div class="share">
        <a href="#">
          <img src="http://download.seaicons.com/icons/icons8/windows-8/512/Arrows-Redo-icon.png" alt="" />
          <p>
            Share
          </p>
        </a>
      </div>

    </div>

</div>


<div id="wrapper">

    <header class="cf">
      <!-- <img src="http://2016.igem.org/wiki/images/e/e0/Uclascrolldown.png" class="arrow" /> -->
      <a href=#><img class='profile-pic' src=""></a>
      <h1 class="name">
                    <a href="#">Person</a>
                </h1>
      <p class="date">3 hr ago</p>
    </header>

    <p class="status">I had a great coding session! 👍</p>
    <img class="img-content" src="https://miro.medium.com/max/759/1*wH4FVF8QHPEKWqrDykAPgA.jpeg" />

    <div class="action">
      <div class="like">
        <a href="#">
          <img src="https://1.bp.blogspot.com/-qns_lZPjg0I/VWY2dO1HN-I/AAAAAAAACVA/akLTMY7RJSk/s1600/Thumbs-up-facebook-icon-small.png" alt="thumbs up" />
          <p>Like</p>
        </a>
      </div>

      <div class="comment">
        <a href="#">
          <img src="https://s0.wp.com/wp-content/themes/vip/facebook-groups/img/message_icon.png" />
          <p>Comment</p>
        </a>
      </div>

      <div class="share">
        <a href="#">
          <img src="http://download.seaicons.com/icons/icons8/windows-8/512/Arrows-Redo-icon.png" alt="" />
          <p>
            Share
          </p>
        </a>
      </div>

    </div>

</div>

<div id="wrapper">

    <header class="cf">
      <!-- <img src="http://2016.igem.org/wiki/images/e/e0/Uclascrolldown.png" class="arrow" /> -->
      <a href=#><img class='profile-pic' src=""></a>
      <h1 class="name">
                    <a href="#">Girl</a>
                </h1>
      <p class="date">3 hr ago</p>
    </header>

    <p class="status">I've been studying for 13,165 hours!</p>
    <img class="img-content" src="https://dazedimg-dazedgroup.netdna-ssl.com/1280/azure/dazed-prod/1280/8/1288188.jpg" />

    <div class="action">
      <div class="like">
        <a href="#">
          <img src="https://1.bp.blogspot.com/-qns_lZPjg0I/VWY2dO1HN-I/AAAAAAAACVA/akLTMY7RJSk/s1600/Thumbs-up-facebook-icon-small.png" alt="thumbs up" />
          <p>Like</p>
        </a>
      </div>

      <div class="comment">
        <a href="#">
          <img src="https://s0.wp.com/wp-content/themes/vip/facebook-groups/img/message_icon.png" />
          <p>Comment</p>
        </a>
      </div>

      <div class="share">
        <a href="#">
          <img src="http://download.seaicons.com/icons/icons8/windows-8/512/Arrows-Redo-icon.png" alt="" />
          <p>
            Share
          </p>
        </a>
      </div>

    </div>

</div>
