<div class="container">
  <div class="main">
    <h2 class="subtitle">Structure your study and</h2>
    <h1>Level Up</h1>
  </div>
  <div class="future-searchbar">
      <%= form_tag %>
        <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Type something!"
    %>
        <%= submit_tag "Start!", class: "btn btn-primary border-0" %>
    </div>

</div>