.about_container {
  background-color: #845ec2;
  justify-content: center;
  text-align: center;
}

.details {
  display: flex;
  padding-bottom: 72px;
}

.flex-direction {
  flex-direction: column;
}
i {
  font-size: 80px;
}

.how {
  padding-top: 32px;
}

.skills {
  background-color: #dddddd;
  justify-content: center;
  text-align: center;
  color: black;
}

.check {
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}
