.about_container {
  background-color: #4A73B1;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.details {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  padding: 72px;
  margin: -40px;
}
.info {
  text-align: center;
}

i {
  font-size: 80px;
  margin-bottom: 24px;
}

.how {
  padding: 32px;
  h2 {
    font-size: 3rem;
  }
}

.skills {
  background-color: #dddddd;
  justify-content: center;
  text-align: center;
  color: black;
}

.check {
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}
