.navbar-lewagon {
  justify-content: space-between;
  color: white;
  position: fixed;
  width: 100%;
  background-color: #4A73B1;
  z-index: 3;
  top: 0%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
  position: sticky;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  position: sticky;
  ;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  position: sticky;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  position: sticky;
}