.navbar-lewagon {
  justify-content: space-between;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}