.profile_card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 100%;
  height: 420px;
  color: black;
  padding: 24px;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;

  // background-color: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // padding: 16px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin-bottom: 24px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  align-items: center;
}

.flex-item {
  flex: 1 1 40%;
}
// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
