.skill_bar {
  margin: 20px 0;
}

.skill_bar:first-child{
  margin-top: 0px;
}

.skill_bar .info{
  margin-bottom: 5px;
}

.skill_bar .info span{
  font-size: 17px;
  font-weight: 500;
}

.skill_bar .progress-line{
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                    0px 1px rgba(225,225,225,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.skill_bar .progress-line span{
  height: 100%;
  // Change this width to adjust the lenght of the purple bar
  width: 80%;
  background: #4A73B1;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.skill_bar .progress-line span::before{
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000
}

.skill_bar .progress-line span::after{
  position: absolute;
  content: "80%";
  right: 0;
  top: -28px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
}

// .skill_bar span {
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   height: 100%;
//   transition: background .5s ease;
//   width: 100%;
// }

// .skill_bar:hover {
//   text-decoration: none;
//   color: white;
//   background-color: #4700D4;
// }
