.skill_bar {
  background-image: linear-gradient(to right, #4700D4 0%, #DD5FDA 100%);
  box-sizing: border-box;
  color: #fff;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 20px;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 300px;
  z-index: 2;
}

// .skill_bar span {
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   height: 100%;
//   transition: background .5s ease;
//   width: 100%;
// }

// .skill_bar:hover {
//   text-decoration: none;
//   color: white;
//   background-color: #4700D4;
// }
