.study_button {
  background-color:#4A74B1;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 150px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  z-index: 2;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  // -webkit-transition: border 2s ease;
  // -ms-transition: border 2s ease;
  transition: background-image 2s ease;
  transition: font-size 1s ease;

  &:hover {
    background-image: linear-gradient#4A74B1;
    // border: 1px solid rgba(255, 235, 216, 0.5);
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
}

.study_button span {
  color: #fff;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

// .study_button:hover span {
//   background: transparent;
// }
