// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/study_sessions";
@import "pages/skill_show";
@import "components/study_button";
@import "components/text_field";
@import "components/small_button";
@import "components/skill_bar";
@import "pages/show";

@import "components/about";

